<a href="https://colab.research.google.com/github/castrigno22/geopandas/blob/main/correzioneVerificaFila_B_mDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pymongo
import pandas as pd

In [3]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client["4E"]

In [ ]:
doc = db.impianti.find_one()
doc

{'ID_NIL': 1,
 'INDIRIZZO': 'Corso DI PORTA VITTORIA 4',
 'LAT_Y_WGS84': Decimal128('45.4622267523854'),
 'LONG_X_WGS84': Decimal128('9.19750817181182'),
 'Location': '(45.4622267523854, 9.19750817181182)',
 'MUNICIPIO': 1,
 'NIL': 'DUOMO',
 'Sit_NomeImpianto': 'SEDE SIGNORA',
 'Sit_NomeVia': 'DI PORTA VITTORIA',
 'Sit_NumCiv': 4,
 'Sit_StatoImpianto': 'Acceso',
 'Ti_TipoImpianto': 'Altro',
 'Tv_TipoVia': 'Corso',
 '_id': ObjectId('623ca29cf224e8f68db4a268'),
 'gestore': 'A2A S.p.A.'}

1)l’elenco degli impianti accesi. Visualizzare solo il nome e l’indirizzo

In [ ]:
result = db.impianti.find({"Sit_StatoImpianto":{"$regex":"Acceso"}},{"Sit_NomeImpianto":1, "INDIRIZZO":1, "_id":0})
df = pd.DataFrame(list(result))
df

,Sit_NomeImpianto,INDIRIZZO
0,SEDE SIGNORA,Corso DI PORTA VITTORIA 4
1,TELESPAZIO S.p.a. - PONTE RADIO TV MILANO/CAMP...,Corso SEMPIONE 27
2,FAMAGOSTA,Via PALATUCCI
3,RIC. OVEST,Via PIANELLA 10
4,MI ROGOREDO WS,Via MONTE PIANA 7
...,...,...
1783,BRUZZANO,Via GALIANI 12
1784,RETE 4,Via FILZI 22
1785,San Galdino,Via SAN GALDINO 5
1786,MILANO CORSO SEMPIONE,Corso SEMPIONE 27
1787,CORSO SEMPIONE,Corso SEMPIONE 27

2)gli indirizzi in cui si trovano gli impianti dell’ATM

In [ ]:
result = db.impianti.find({"gestore":{"$regex":"A.T.M."}},{"INDIRIZZO":1, "_id":0})
df = pd.DataFrame(list(result))
df

                                INDIRIZZO
0                           Via PALATUCCI
1   Località PARCHEGGIO ATM CASCINA GOBBA
2                        Piazza GRAMSCI 2
3                           Via PALATUCCI
4                        Piazza GRAMSCI 2
5                        Piazza GRAMSCI 2
6                        Via MARIGNANO 51
7                          Via PIRELLI 39
8                          Via PIRELLI 39
9                       Via MONTE ROSA 89
10                           Via LARGA 12
11                      Via MONTE ROSA 89
12                              Via PARRI
13                            Via GATTO 3

3)l’elenco degli impianti della Vodafone e della TIM

In [ ]:
result = db.impianti.find({"$or":[{"gestore":"VODAFONE"},{"gestore":"TIM"}]},{"Sit_NomeImpianto":1, "gestore":1, "_id":0})
df = pd.DataFrame(list(result))
df

          Sit_NomeImpianto   gestore
0              VF FLAGSHIP  VODAFONE
1     EXPO DARSENA NAVIGLI  VODAFONE
2     EXPO DARSENA NAVIGLI  VODAFONE
3            TRUSSARDI SPA  VODAFONE
4              SKY 3° SEDE  VODAFONE
..                     ...       ...
323          VIALE CORSICA  VODAFONE
324  CASCINA SAN ROMANELLO  VODAFONE
325            MONTECENERI  VODAFONE
326          VIA DE PREDIS  VODAFONE
327               BRUZZANO  VODAFONE

[328 rows x 2 columns]

4)gli indirizzi in cui c’è più di un impianto

In [ ]:
result=db.impianti.aggregate([
                             {"$group": {"_id" : "$INDIRIZZO", "total" : {"$sum" : 1}}},
                             {"$match": {"total" : {"$gte" : 2}}}]
)
df =pd.DataFrame(list(result))
df

                            _id  total
0              Via Toffetti 125      2
1                  Via IMBONATI      2
2                 Viale CALDARA      2
3              Piazza GRAMSCI 2      3
4    Via Cardinal Mezzofanti 24      2
..                          ...    ...
230                  Via DERUTA      2
231             Via TUCIDIDE 56      4
232    Via FINOCCHIARO APRILE 2      2
233             Via MANTEGNA 11      3
234           Corso SEMPIONE 27     82

[235 rows x 2 columns]

5) i gestori che sono società per azioni. Ordinare in ordine alfabetico

In [ ]:
result = db.impianti.find({"gestore":{"$regex":"S.p.A."}},{"gestore":1, "_id":0}).sort([("gestore",1)])
df = pd.DataFrame(list(result))
df

                                           gestore
0     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
1     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
2     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
3     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
4     A.T.M. - AZIENDA TRASPORTI MUNICIPALI S.p.A.
...                                            ...
998                                Wind Tre S.p.A.
999                                Wind Tre S.p.A.
1000                               Wind Tre S.p.A.
1001                      WorldSpace Italia S.p.A.
1002                                  e-via S.p.A.

[1003 rows x 1 columns]

6) il numero di impianti per ogni gestore

In [ ]:
result=db.impianti.aggregate([
                                {"$group":{"_id":"$gestore","total":{"$sum":1}}},
                                {"$sort":{"total":-1}}
])
df=pd.DataFrame(list(result))
df

                                  _id  total
0                          TIM S.p.A.    382
1              CommsCon Italia S.r.l.    376
2                            VODAFONE    328
3                     Wind Tre S.p.A.    213
4       WIND TELECOMUNICAZIONI S.p.A.    102
..                                ...    ...
64               RADIO LAGOUNO S.r.l.      1
65                       e-via S.p.A.      1
66                        LA 9 S.p.A.      1
67                 Assoc. RADIO MARIA      1
68  RADIO PADANIA Società Cooperativa      1

[69 rows x 2 columns]

7)i gestori che hanno più di 100 impianti. Ordinare in ordine decrescente a partire dal gestore che ha più impianti

In [ ]:
result=db.impianti.aggregate([
                                {"$group":{"_id":"$gestore","total":{"$sum":1}}},
                                {"$sort":{"total":-1}},
                                {"$match": {"total" : {"$gte" : 100}}}
])
df=pd.DataFrame(list(result))
df

                             _id  total
0                     TIM S.p.A.    382
1         CommsCon Italia S.r.l.    376
2                       VODAFONE    328
3                Wind Tre S.p.A.    213
4  WIND TELECOMUNICAZIONI S.p.A.    102

8)i gestori che hanno impianti all'aeroporto di Linate

In [ ]:
result = db.impianti.find({"Sit_NomeVia":{"$regex":"LINATE"}},{"gestore":1, "_id":0})
df = pd.DataFrame(list(result))
df

       gestore
0  ENAV S.p.A.
1  ENAV S.p.A.

9) i gestori di cui non si conosce il tipo della via in cui si trovano i loro impianti

Empty DataFrame
Columns: []
Index: []