<a href="https://colab.research.google.com/github/castrigno22/geopandas/blob/main/correzioneVerificaFila_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pymongo
import pandas as pd

In [3]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client["4E"]

1)il cognome e il nome dei capomissione con la loro funzione

In [ ]:
result = db.consolati.find({},{"capomissione":1,"funzionecapo":1,"_id":0})
df = pd.DataFrame(list(result))
df

               capomissione                 funzionecapo
0              PALA MICHELE             CONSOLE GENERALE
1         OCCHIPINTI NICOLA             CONSOLE GENERALE
2          DE RIU ANTONELLO             CONSOLE GENERALE
3         LA PIANA ANTONINO  CONSOLE GENERALE (Reggente)
4          BENCINI LEONARDO             CONSOLE GENERALE
..                      ...                          ...
446    BELLA GIANLUCA MARIA    Agente consolare onorario
447      CASSINA ITALO JUAN    Agente consolare onorario
448  INFANTI PAMELA BEATRIZ    Agente consolare onorario
449    KOKKINAKIS DIMITRIOS    Agente consolare onorario
450      AARSETH NILS HELGE    Agente consolare onorario

[451 rows x 2 columns]

2)lâ€™indirizzo del consolato di Zurig

In [ ]:
result = db.consolati.find({"indirizzo":{"$regex":"Zurigo"}},{"indirizzo":1,"_id":0})
df = pd.DataFrame(list(result))
df

                       indirizzo
0  TÃ¶distrasse, 65 - 8002 Zurigo

3)lâ€™elenco dei consolati generali. Ordinare in ordine alfabetico

In [ ]:
result = db.consolati.find({"sede":{"$regex":"CONSOLATO GENERALE"}},{"sede":1,"_id":0,}).sort("sede", 1)
df = pd.DataFrame(list(result))
df

                                                 sede
0    CONSOLATO GENERALE - BAHIA BLANCA (Buenos Aires)
1                     CONSOLATO GENERALE - BARCELLONA
2                        CONSOLATO GENERALE - BENGASI
3         CONSOLATO GENERALE - BOSTON (Massachusetts)
4                   CONSOLATO GENERALE - BUENOS AIRES
..                                                ...
66               CONSOLATO GENERALE ONORARIO - NASSAU
67       CONSOLATO GENERALE ONORARIO - PORT AU PRINCE
68  CONSOLATO GENERALE ONORARIO - REYKJAVIK - HAFN...
69          CONSOLATO GENERALE ONORARIO - TEGUCIGALPA
70             CONSOLATO GENERALE ONORARIO - WINDHOEK

[71 rows x 1 columns]

4)il numero complessivo di consoli generali

In [ ]:
result = db.consolati.count_documents({"funzionecapo":"CONSOLATO GENERALE"})
df = pd.DataFrame(list(result))
df

TypeError: ignored

5)i consolati che si trovano nellâ€™emisfero australe

In [6]:
result = db.consolati.find({"lat":{"$lt":0}},{"sede":1,"_id":0})
df = pd.DataFrame(list(result))
df

                                                 sede
0      CONSOLATO GENERALE DI PRIMA CLASSE - SAN PAOLO
1   CONSOLATO GENERALE - PORTO ALEGRE (Rio Grande ...
2                   CONSOLATO GENERALE - BUENOS AIRES
3    CONSOLATO GENERALE - BAHIA BLANCA (Buenos Aires)
4                        CONSOLATO GENERALE - CORDOBA
..                                                ...
85             AGENZIA CONSOLARE ONORARIA - RIO CLARO
86         AGENZIA CONSOLARE ONORARIA - PUERTO MADRYN
87          AGENZIA CONSOLARE ONORARIA - CHRISTCHURCH
88  AGENZIA CONSOLARE ONORARIA - RIO CUARTO (Cordoba)
89  AGENZIA CONSOLARE ONORARIA - TANDIL (Buenos Ai...

[90 rows x 1 columns]

6)lâ€™elenco dei consolati presenti in Argentina

In [7]:
result = db.consolati.find({"paese":"ARGENTINA"},{"sede":1,"_id":0})
df = pd.DataFrame(list(result))
df

                                                 sede
0                   CONSOLATO GENERALE - BUENOS AIRES
1    CONSOLATO GENERALE - BAHIA BLANCA (Buenos Aires)
2                        CONSOLATO GENERALE - CORDOBA
3             CONSOLATO GENERALE - ROSARIO (Santa FÃ¨)
4        CONSOLATO GENERALE - LA PLATA (Buenos Aires)
5                 CONSOLATO DI PRIMA CLASSE - MENDOZA
6                           CONSOLATO - MAR DEL PLATA
7            AGENZIA CONSOLARE - MORON (Buenos Aires)
8   AGENZIA CONSOLARE - LOMAS DE ZAMORA (Buenos Ai...
9        VICE CONSOLATO ONORARIO - POSADAS (Misiones)
10      VICE CONSOLATO ONORARIO - SANTIAGO DEL ESTERO
11                  VICE CONSOLATO ONORARIO - FORMOSA
12  VICE CONSOLATO ONORARIO - SAN ISIDRO (Buenos A...
13    VICE CONSOLATO ONORARIO - SAN SALVADOR DE JUJUY
14                    VICE CONSOLATO ONORARIO - SALTA
15       VICE CONSOLATO ONORARIO - SANTA ROSA DE TOAY
16      VICE CONSOLATO ONORARIO - RESISTENCIA (Chaco)
17  VICE CONSOLATO ONORARIO - NECOCHEA (Buenos Aires)
18                 VICE CONSOLATO ONORARIO - LA RIOJA
19               VICE CONSOLATO ONORARIO - CORRIENTES
20   VICE CONSOLATO ONORARIO - QUILMES (Buenos Aires)
21                  VICE CONSOLATO ONORARIO - TUCUMAN
22      VICE CONSOLATO ONORARIO - SAN LUIS (San Luis)
23                  VICE CONSOLATO ONORARIO - NEUQUEN
24                VICE CONSOLATO ONORARIO - CATAMARCA
25       VICE CONSOLATO ONORARIO - VIEDMA (Rio Negro)
26          VICE CONSOLATO ONORARIO - TRES DE FEBRERO
27     VICE CONSOLATO ONORARIO - SAN RAFAEL (Mendoza)
28               AGENZIA CONSOLARE ONORARIA - RAFAELA
29  AGENZIA CONSOLARE ONORARIA - PERGAMINO (Buenos...
30  AGENZIA CONSOLARE ONORARIA - OLAVARRIA (Buenos...
31  AGENZIA CONSOLARE ONORARIA - MERCEDES (Buenos ...
32  AGENZIA CONSOLARE ONORARIA - LAS VARILLAS (Cor...
33             AGENZIA CONSOLARE ONORARIA - CONCORDIA
34        AGENZIA CONSOLARE ONORARIA - VILLA MERCEDES
35  AGENZIA CONSOLARE ONORARIA - SAN FRANCISCO (Co...
36  AGENZIA CONSOLARE ONORARIA - TRES ARROYOS (Bue...
37             AGENZIA CONSOLARE ONORARIA - EL DORADO
38         AGENZIA CONSOLARE ONORARIA - PUERTO MADRYN
39           AGENZIA CONSOLARE ONORARIA - VILLA MARIA
40  AGENZIA CONSOLARE ONORARIA - RIO CUARTO (Cordoba)
41  AGENZIA CONSOLARE ONORARIA - TANDIL (Buenos Ai...

7)lâ€™elenco dei consolati presenti in Argentina e in Brasile

In [8]:
result = db.consolati.find({"$or":[{"paese":"ARGENTINA"},{"paese":"BRASILE"}]},{"sede":1,"_id":0})
df = pd.DataFrame(list(result))
df

                                                 sede
0      CONSOLATO GENERALE DI PRIMA CLASSE - SAN PAOLO
1   CONSOLATO GENERALE - PORTO ALEGRE (Rio Grande ...
2                   CONSOLATO GENERALE - BUENOS AIRES
3    CONSOLATO GENERALE - BAHIA BLANCA (Buenos Aires)
4                        CONSOLATO GENERALE - CORDOBA
..                                                ...
75             AGENZIA CONSOLARE ONORARIA - RIO CLARO
76         AGENZIA CONSOLARE ONORARIA - PUERTO MADRYN
77           AGENZIA CONSOLARE ONORARIA - VILLA MARIA
78  AGENZIA CONSOLARE ONORARIA - RIO CUARTO (Cordoba)
79  AGENZIA CONSOLARE ONORARIA - TANDIL (Buenos Ai...

[80 rows x 1 columns]

8)i consolati di cui non si conosce il sito web

In [9]:
result = db.consolati.find({"sitoweb" : None})
df = pd.DataFrame(list(result))
df

,_id,sede,idtiposede,lat,lng,continente,paese,indirizzo,capomissione,funzionecapo,email
0,623ca2f7f224e8f68db4a9b5,CONSOLATO GENERALE ONORARIO - REYKJAVIK - HAFN...,9,64.1476368,-21.939247,Europe,ISLANDA,POB 16 - 121 Reykjavik,BJORNSSON PETUR,Console Generale onorario,consolato@simnet.is
1,623ca2f7f224e8f68db4a9b6,CONSOLATO GENERALE ONORARIO - PORT AU PRINCE,9,NaN,NaN,Northern America,HAITI,"40, Rue Lamarre, B.P. 2120",ABDALLAH SHERIF,Console Generale onorario,consolato.italia.ht@alsagroup.com
2,623ca2f7f224e8f68db4a9b8,CONSOLATO GENERALE ONORARIO - WINDHOEK,9,-22.5888346,17.0621621,Africa,NAMIBIA,"41 von Falkenhausen Street, Pioneespark, Windh...",REBOLDI BLEKS ROSANNA,Console Generale onorario,rosannareboldi@yahoo.com
3,623ca2f7f224e8f68db4a9b9,CONSOLATO GENERALE ONORARIO - KATHMANDU,9,NaN,NaN,Asia,NEPAL,"Heritage Plaza â€“ I, 2nd Floor P.O. Box no. â€“ 7...",PANDE' PRATIMA,Console Generale onorario,kathmandu.onorario@esteri.it
4,623ca2f7f224e8f68db4a9ba,CONSOLATO GENERALE ONORARIO - ATLANTA (Georgia),9,NaN,NaN,Northern America,STATI UNITI D'AMERICA,NaN,KURTZ RYAN,Console Generale onorario,NaN
...,...,...,...,...,...,...,...,...,...,...,...
345,623ca2f7f224e8f68db4ab23,AGENZIA CONSOLARE ONORARIA - RIO CUARTO (Cordoba),12,-33.1247691,-64.351341,South America,ARGENTINA,Colon 243 - 5800 Rio Cuarto,BARTOCCIONI ALBERTO GUSTAVO,Agente consolare onorario,agenciaconsular@hotmail.com
346,623ca2f7f224e8f68db4ab24,AGENZIA CONSOLARE ONORARIA - TANDIL (Buenos Ai...,12,-37.328418,-59.1424566,South America,ARGENTINA,San Martin 190 (7000) TANDIL (Buenos Aires),TANGORRA MARIA CECILIA,Agente consolare onorario,tandil.onorario@esteri.it
347,623ca2f7f224e8f68db4ab25,AGENZIA CONSOLARE ONORARIA - BUCARAMANGA,12,NaN,NaN,South America,COLOMBIA,Cra.18A n. 8N - 82 BARRIO XIII JUNIO e CENTRO...,GUARIGLIA LESLEY AN CECILIA,Agente consolare onorario,agconsonit@gmail.com
348,623ca2f7f224e8f68db4ab26,AGENZIA CONSOLARE ONORARIA - KALAMATA,12,37.042237,22.114126,Europe,GRECIA,"Kapetan Kroba, 46 - 24200 - Messini",BOVICELLI MARGHERITA,Agente consolare onorario,bovicelli@gmail.com
349,623ca2f7f224e8f68db4ab27,AGENZIA CONSOLARE ONORARIA - WATFORD,12,51.656489,-0.39032,Europe,REGNO UNITO,11 St.James Road - Watford WD1 8DZ,RAPA LUCIANO,Agente consolare onorario,NaN

9)i consolati che non hanno una mail del Ministero degli Esteri

In [11]:
result = db.consolati.find({"email" :{"$not" :{"$regex" : "@esteri.it"}}})
df = pd.DataFrame(list(result))
df

,_id,sede,idtiposede,lat,lng,continente,paese,indirizzo,capomissione,funzionecapo,email,sitoweb
0,623ca2f7f224e8f68db4a9b5,CONSOLATO GENERALE ONORARIO - REYKJAVIK - HAFN...,9,64.1476368,-21.939247,Europe,ISLANDA,POB 16 - 121 Reykjavik,BJORNSSON PETUR,Console Generale onorario,consolato@simnet.is,NaN
1,623ca2f7f224e8f68db4a9b6,CONSOLATO GENERALE ONORARIO - PORT AU PRINCE,9,NaN,NaN,Northern America,HAITI,"40, Rue Lamarre, B.P. 2120",ABDALLAH SHERIF,Console Generale onorario,consolato.italia.ht@alsagroup.com,NaN
2,623ca2f7f224e8f68db4a9b7,CONSOLATO GENERALE ONORARIO - GIBUTI,9,NaN,NaN,Africa,GIBUTI,Zona Industriale Sud - Boulaos B.P. 191 - Gibuti,RIZZO GIANNI,Console Generale onorario,consolato.djibouti@intnet.dj,www.ambaddisabeba.esteri.it
3,623ca2f7f224e8f68db4a9b8,CONSOLATO GENERALE ONORARIO - WINDHOEK,9,-22.5888346,17.0621621,Africa,NAMIBIA,"41 von Falkenhausen Street, Pioneespark, Windh...",REBOLDI BLEKS ROSANNA,Console Generale onorario,rosannareboldi@yahoo.com,NaN
4,623ca2f7f224e8f68db4a9ba,CONSOLATO GENERALE ONORARIO - ATLANTA (Georgia),9,NaN,NaN,Northern America,STATI UNITI D'AMERICA,NaN,KURTZ RYAN,Console Generale onorario,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
241,623ca2f7f224e8f68db4ab22,AGENZIA CONSOLARE ONORARIA - GUERNSEY,12,49.465691,-2.585278,Europe,REGNO UNITO,"""Montechiari"", Petit Axce Lane, Vale, Guernsey...",FINETTI LONG JUDITH ANNE,Agente consolare onorario,NaN,NaN
242,623ca2f7f224e8f68db4ab23,AGENZIA CONSOLARE ONORARIA - RIO CUARTO (Cordoba),12,-33.1247691,-64.351341,South America,ARGENTINA,Colon 243 - 5800 Rio Cuarto,BARTOCCIONI ALBERTO GUSTAVO,Agente consolare onorario,agenciaconsular@hotmail.com,NaN
243,623ca2f7f224e8f68db4ab25,AGENZIA CONSOLARE ONORARIA - BUCARAMANGA,12,NaN,NaN,South America,COLOMBIA,Cra.18A n. 8N - 82 BARRIO XIII JUNIO e CENTRO...,GUARIGLIA LESLEY AN CECILIA,Agente consolare onorario,agconsonit@gmail.com,NaN
244,623ca2f7f224e8f68db4ab26,AGENZIA CONSOLARE ONORARIA - KALAMATA,12,37.042237,22.114126,Europe,GRECIA,"Kapetan Kroba, 46 - 24200 - Messini",BOVICELLI MARGHERITA,Agente consolare onorario,bovicelli@gmail.com,NaN
245,623ca2f7f224e8f68db4ab27,AGENZIA CONSOLARE ONORARIA - WATFORD,12,51.656489,-0.39032,Europe,REGNO UNITO,11 St.James Road - Watford WD1 8DZ,RAPA LUCIANO,Agente consolare onorario,NaN,NaN

10)il numero di consolati in ogni continente

In [13]:
result = db.consolati.aggregate([{"$group" :{"_id":"$continente", "total" : {"$sum" : 1}}},
                                 {"$sort" :{"_id" : 1}}])
df = pd.DataFrame(list(result))
df

                _id  total
0            Africa     31
1              Asia     49
2            Europe    160
3  Northern America     63
4           Oceania     15
5     South America    133

11)i continenti che hanno piÃ¹ di 50 consolati. Ordinare in ordine decrescente a partire dal continente che ha piÃ¹ consolati

In [18]:
result = db.consolati.aggregate([
                                 {"$group" :{"_id":"$continente", "total" : {"$sum" : 1}}},
                                 {"$match" :{"total":{"$gt":50}}},
                                 {"$sort" :{"total" : -1}}])
df = pd.DataFrame(list(result))
df

                _id  total
0            Europe    160
1     South America    133
2  Northern America     63

12)il paese che ha piÃ¹ consolati