<a href="https://colab.research.google.com/github/castrigno22/geopandas/blob/main/correzioneVerificaFila_C_mDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo
import pandas as pd

In [2]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies # nome del database

In [3]:
doc = db.sales.find_one()
doc

{'_id': ObjectId('5bd761dcae323e45a93ccffe'),
 'couponUsed': False,
 'customer': {'age': 61,
  'email': 'ucikosusu@sid.uz',
  'gender': 'M',
  'satisfaction': 1},
 'items': [{'name': 'notepad',
   'price': Decimal128('25.83'),
   'quantity': 5,
   'tags': ['office', 'writing', 'school']},
  {'name': 'printer paper',
   'price': Decimal128('14.6'),
   'quantity': 2,
   'tags': ['office', 'stationary']},
  {'name': 'pens',
   'price': Decimal128('7.49'),
   'quantity': 1,
   'tags': ['writing', 'office', 'school', 'stationary']},
  {'name': 'backpack',
   'price': Decimal128('149.09'),
   'quantity': 4,
   'tags': ['school', 'travel', 'kids']},
  {'name': 'laptop',
   'price': Decimal128('898.84'),
   'quantity': 1,
   'tags': ['electronics', 'school', 'office']},
  {'name': 'binder',
   'price': Decimal128('21.01'),
   'quantity': 2,
   'tags': ['school', 'general', 'organization']},
  {'name': 'notepad',
   'price': Decimal128('21.06'),
   'quantity': 4,
   'tags': ['office', 'writing', 'school']},
  {'name': 'envelopes',
   'price': Decimal128('21.48'),
   'quantity': 8,
   'tags': ['stationary', 'office', 'general']},
  {'name': 'notepad',
   'price': Decimal128('39.38'),
   'quantity': 3,
   'tags': ['office', 'writing', 'school']},
  {'name': 'binder',
   'price': Decimal128('13.07'),
   'quantity': 4,
   'tags': ['school', 'general', 'organization']}],
 'purchaseMethod': 'Online',
 'saleDate': datetime.datetime(2013, 3, 20, 16, 36, 39, 112000),
 'storeLocation': 'San Diego'}

1)le mail degli utenti che hanno usato i coupon per un acquisto

In [7]:
result=db.sales.find({"couponUsed": True},{"mail": "$customer.email", "_id" : 0})
df2=pd.DataFrame(list(result))
df2

                  mail
0     cauho@witwuta.sv
1         beancu@oz.ee
2     rutiro@tedrag.ly
3     kupeen@gareha.ne
4       wir@osibova.aq
..                 ...
472     kan@lepboil.cf
473   etvice@uploli.tv
474  tolfop@uwtuiba.bn
475        ka@ejeoj.gs
476          hud@we.ve

[477 rows x 1 columns]

2)le mail degli utenti che hanno comperato articoli per la scuola

In [8]:
result = db.sales.find({"items.tags":{"$regex" : "school"}}, {"coustomer.email" : 1, "_id" : 0})
df2=pd.DataFrame(list(result))
df2

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[4864 rows x 0 columns]

3)gli ordini effettuati nel marzo del 2013

In [ ]:
result = db.sales.find({})

4)l’età media dei client

In [11]:
result=db.sales.aggregate([                              
                                {"$group":{"_id":"--->","media":{"$avg":"$customer.age"}}}
])
df2=pd.DataFrame(list(result))
df2

    _id    media
0  --->  44.7356

5)il numero di clienti uomini e donne

In [12]:
result=db.sales.aggregate([
   {"$group" : { "_id" : '$customer.gender', "count" : {"$sum" : 1}}}
])
df2=pd.DataFrame(list(result))
df2

  _id  count
0   F   2527
1   M   2473

6)il numero di acquisti per ogni categoria. Ordinare le categorie in ordine decrescente

In [20]:
result=db.sales.aggregate([
    {"$unwind" : "$items"},
    {"$unwind" : "$items.tags"},
    {"$group":{"_id":"$items.tags", "total" :{"$sum" : 1}}},
    {"$sort":{"total":-1}}

])
df2=pd.DataFrame(list(result))
df2

            _id  total
0        school  20687
1        office  20453
2       writing  11431
3    stationary  11310
4       general   9181
5  organization   4676
6          kids   2309
7        travel   2309
8   electronics   2271

7)il numero di acquisti per ogni negozio (‘storeLocation’)

In [21]:
result=db.sales.aggregate([
   {"$group" : { "_id" : '$storeLocation', "count" : {"$sum" : 1}}}
])
df2=pd.DataFrame(list(result))
df2

         _id  count
0     Denver   1549
1  San Diego    346
2     London    794
3   New York    501
4     Austin    676
5    Seattle   1134

8)i negozi in cui sono stati effettuati meno di 100 acquisti

In [22]:
result=db.sales.aggregate([
   {"$group" : { "_id" : '$storeLocation', "count" : {"$sum" : 1}}},
   { "$match": { "count" : { "$lt": 100} } }
])
df2=pd.DataFrame(list(result))
df2

Empty DataFrame
Columns: []
Index: []

9)il negozio in cui sono stati effettuati meno acquisti