<a href="https://colab.research.google.com/github/castrigno22/geopandas/blob/main/ripassoVerificaPasqua.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo 
import pandas as pd

In [3]:
client = pymongo.MongoClient("mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies

In [ ]:
db.sales.find()
df = pd.DataFrame(list(db.sales.find()))
df

In [5]:
client = pymongo.MongoClient("mongodb://Castrigno:Nicolino75@cluster0-shard-00-00.dsetw.mongodb.net:27017,cluster0-shard-00-01.dsetw.mongodb.net:27017,cluster0-shard-00-02.dsetw.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-5zltgt-shard-0&authSource=admin&retryWrites=true&w=majority")
db2 = client.Castrigno

In [6]:
db2.vendite.insert_many(df.to_dict("records"))

BulkWriteError: ignored

In [ ]:
df = pd.DataFrame(list(db2.vendite.find()))
df

1. cancellare tutti i document relativi al negozio di San Diego

In [9]:
result = db2.vendite.delete_many({"storeLocation" : "San Diego"})
result.deleted_count

0

2. invecchiare i clienti di 8 anni

In [25]:
#graffe vuote perchè dobbiamo prendere tutti i document
# $inc esegue un incremento
result = db2.vendite.update_many({},{"$inc" : {"costumer.age" : 8}})
result.modified_count

2351

3. cancellare tutti i tag 'stationary'

In [11]:
result = db2.vendite.delete_many({"items.tags" : "stationary" })
result.deleted_count

0

4. eliminare tutti i document di clienti che hanno più di 80 anni e meno di 40

In [26]:
# $gt maggiore, $lt minore
result = db2.vendite.delete_many({"$or" : [{"costumer.age" : {"$gt" : 80}},
                                  {"costumer.age" : {"$lt" : 40}}]})
result.deleted_count

0

5. calcolare il prezzo medio degli items

In [27]:
# utilizziamo $unwind su una lista per suddividerla
# usiamo $group per poi utilizzare $avg per calcolare la media
result = db2.vendite.aggregate ([
                                 {"$unwind": "$items"},
                                 {"$group": {"_id" : "null", "media" : {"$avg" : "$items.price"}}}
])
df = pd.DataFrame(list(result))
df

    _id                                media
0  null  173.1006272236131242587956252470681

6. modificare le mail che hanno il dominio .mz in .com

In [28]:
result = db2.vendite.find({"customer.email" : {"$regex" : "\.com"}})
df = pd.DataFrame(list(result))
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93ccfef,2014-03-31 16:02:06.624,"[{'name': 'notepad', 'tags': ['office', 'writi...",Austin,"{'gender': 'M', 'age': 71, 'email': '.com', 's...",False,Online,{'age': 48}
1,5bd761dcae323e45a93cd03f,2017-08-02 23:52:19.398,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'F', 'age': 59, 'email': 'kave@we.c...",False,In store,{'age': 48}
2,5bd761ddae323e45a93cd413,2017-04-07 23:58:57.581,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'M', 'age': 41, 'email': '.com', 's...",False,In store,{'age': 48}
3,5bd761ddae323e45a93cd41c,2013-01-17 09:18:53.182,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'M', 'age': 59, 'email': '.com', 's...",False,In store,{'age': 48}
4,5bd761dcae323e45a93cd285,2013-02-11 12:09:33.947,"[{'name': 'notepad', 'tags': ['office', 'writi...",Austin,"{'gender': 'F', 'age': 46, 'email': '.com', 's...",False,In store,{'age': 48}
5,5bd761dcae323e45a93cd2bf,2013-08-23 23:19:25.498,"[{'name': 'notepad', 'tags': ['office', 'writi...",New York,"{'gender': 'F', 'age': 43, 'email': 'ewebucbuj...",False,Online,{'age': 48}
6,5bd761ddae323e45a93cd87e,2015-03-20 20:08:24.116,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'F', 'age': 59, 'email': 'gid@asso....",False,Phone,{'age': 48}
7,5bd761dcae323e45a93cd154,2017-10-02 18:22:59.759,"[{'name': 'laptop', 'tags': ['electronics', 's...",New York,"{'gender': 'M', 'age': 49, 'email': 'jido@ca.c...",False,In store,{'age': 48}
8,5bd761ddae323e45a93cd63d,2014-07-25 16:18:09.315,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 57, 'email': 'zigekva@c...",False,In store,{'age': 48}
9,5bd761ddae323e45a93cd6d8,2017-07-06 01:03:15.169,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 48, 'email': '.com', 's...",False,In store,{'age': 48}
10,5bd761ddae323e45a93cdbbb,2016-01-10 20:11:47.097,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 54, 'email': '.com', 's...",True,In store,{'age': 48}
11,5bd761ddae323e45a93cdbba,2016-05-22 06:19:41.513,[],Denver,"{'gender': 'M', 'age': 56, 'email': 'zisase@jo...",False,Phone,{'age': 48}
12,5bd761deae323e45a93cdf07,2013-01-19 18:27:51.281,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'M', 'age': 64, 'email': 'ilgus@ino...",False,Online,{'age': 48}
13,5bd761deae323e45a93cdff0,2017-04-21 10:26:13.483,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'F', 'age': 60, 'email': '.com', 's...",True,Phone,{'age': 48}
14,5bd761deae323e45a93ce0cd,2016-12-01 22:17:54.201,"[{'name': 'backpack', 'tags': ['school', 'trav...",Denver,"{'gender': 'F', 'age': 62, 'email': 'pab@fihid...",False,Phone,{'age': 48}
15,5bd761deae323e45a93ce27e,2013-12-31 08:45:06.586,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 55, 'email': '.com', 's...",False,Online,{'age': 48}
16,5bd761deae323e45a93ce0e9,2015-06-01 15:35:34.483,"[{'name': 'laptop', 'tags': ['electronics', 's...",Seattle,"{'gender': 'F', 'age': 65, 'email': 'geholej@g...",False,In store,{'age': 48}

In [14]:
# utilizziamo $regex per cercare al interno del dataframe
result = db2.vendite.update_many({"customer.email" : {"$regex" : ".mz$"}},
                                 {"$set" : {"customer.email" : { "$replaceOne" :  { "input" : "$email", "find" : ".mz", "replacement" : ".com"}}}})
result.modified_count

0

7. modificare il tag 'school' in 'education'

In [ ]:
#

8. aggiungere 7 anni alla data degli ordini

In [ ]:
result=db2.vendite.aggregate([
   {
      "$addFields": {
         "saleDate": {
            "$dateFromParts": {
               "year": { "$add": [{ "$year": "$saleDate" }, 7] },
               "month": { "$month": "$saleDate" },
               "day": { "$dayOfMonth": "$saleDate" },
               "hour": { "$hour": "$saleDate" },
               "minute": { "$minute": "$saleDate" },
               "second": { "$second": "$saleDate" },
               "millisecond": { "$millisecond": "$saleDate" }
            }
         }
      }
   }
])
df1 = pd.DataFrame(list(result))
df1

9. trovare il prodotto venduto più costoso

In [30]:
result = db2.vendite.aggregate([
     {
    '$unwind': '$items',
    
  },                             

    { "$group": {
        "_id": "maxPrice ",
        "maxPrice": {
            "$max": "$items.price"
        },
        "customerdata": {
            "$push": {
                
                "email": "$customer.email",       
            }
        }
       }
    },
{
    
    '$unwind': '$maxPrice',
}


    ])
dbRes = pd.DataFrame(list(result))
dbRes

         _id maxPrice                                       customerdata
0  maxPrice   1598.12  [{'email': 'me@lih.st'}, {'email': 'me@lih.st'...

10. eliminare dagli ordini tutti i prodotti "envelopes"

In [19]:
result = db2.vendite.delete_many({"items.name" : "envelopes"})
result.deleted_count

0

11. copiare la collection "vendite" nella collection "vendite_modificata"

In [20]:
db2.vendite_.aggregate([{"$out": "mycopy"}])

In [21]:
db2.vendite_.aggregate([{"$out": "mycopy2"}])

In [24]:
df1 = pd.DataFrame(list(db2.mycopy2.find()))
df1

Empty DataFrame
Columns: []
Index: []

12. eliminare la collection "vendite"

In [ ]:
db2.Vendite.drop()